.fuelprices {
  .fuelprices__container {
    .fuelprices__intro__container {
      max-width: 800px;
      margin: 0 auto;
      padding: 24px 0;

      .fuelprices__header__img {
        height: 400px;
        margin-bottom: 16px;

        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }

      .fuelprices__heading {
        padding-bottom: 8px;

        h3 {
          font-size: 24px;
          line-height: 1.6;
        }
      }

      .fuelprices__intro__text {
        p {
          font-size: 15px;
          line-height: 1.8;
        }
      }
    }

    .tableau__dashboard {
      height: 580px;
      display: flex;
      justify-content: center;

      .tableau__dashboard__container {
        max-width: 800px;
        margin: 0 auto;
      }
    }

    .fuelprices__bodytext {
      padding: 32px 0;

      .fuelprices__bodytext__container {
        max-width: 800px;
        margin: 0 auto;

        .fuelprices__bodytext__content {
          height: fit-content;

          p {
            font-size: 15px;
            line-height: 1.8;
            padding: 8px 0;
          }

          a {
            text-decoration: underline;
            color: #111;
            font-style: italic;
            font-weight: 700;
          }
        }
      }
    }

    .gainaccess {
      background: #000;
      height: 250px;
      padding: 16px 0;

      .gainaccess__container {
        max-width: 1100px;
        margin: 0 auto;
      }

      .gainaccess__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        .gainaccess__heading {
          h3 {
            color: #ff8c00;
            font-size: 32px;
            padding: 16px 0 16px 0;
          }
        }

        .gainaccess__text {
          h3 {
            color: #fff;
            font-size: 18px;
            padding-bottom: 32px;
            font-weight: 300;
          }
        }

        .gainaccess__button {
          p {
            color: #fff;
            background: #ff8c00;
            font-size: 14px;
            padding: 18px 100px;
            border-radius: 4px;
            font-weight: 700;
            cursor: pointer;

            &:hover {
              background: #d97802;
            }
          }
        }
      }
    }

    .other__dashboards {
      background: #eee;
      height: 580px;
      padding: 32px 0;

      .other__dashboards__container {
        max-width: 1100px;
        margin: 0 auto;

        .other__dashboards__content {
          .other__dashboards__heading {
            h3 {
              font-size: 14px;
              text-transform: uppercase;
              padding: 16px 0;
              color: #111;
            }
          }

          .other__dashboards__subheading {
            h3 {
              font-size: 32px;
              width: 400px;
              color: #111;
              padding-bottom: 24px;
            }
          }

          .other__dashboards__dashboard {
            display: flex;
            width: fit-content;
            gap: 48px;

            .other__dashboards__item {
              width: 320px;
              position: relative;
              border-radius: 4px;

              .other__dashboards__item__img {
                height: 200px;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 20px;
                }
              }

              .other__dashboards__item__tag {
                position: absolute;
                top: -8px;
                right: -10px;
                color: #fff;
                padding: 4px 8px;
                border-radius: 4px;

                p {
                  text-transform: uppercase;
                  font-size: 12px;
                  font-weight: 700;
                  z-index: 10;
                }
              }

              .premium {
                border: 2px solid #ff8c00;
                background: #ff8c00;
              }

              .free {
                border: 2px solid #2b2c54;
                background: #2b2c54;
                color: #fff !important;
              }

              .other__dashboards__item__description {
                border-radius: 4px;
                border: 1px solid #d8d8d8;
                margin-top: 8px;
                background: transparent;
                padding: 8px 4px;

                .other__dashboards__item__title {
                  padding: 8px 4px;
                  font-size: 12px;
                }

                .view__other__dashboards__course {
                  width: 90px;
                  display: flex;
                  align-items: center;
                  padding: 8px 4px;
                  gap: 4px;
                  cursor: pointer;

                  p {
                    font-size: 12px;
                    color: #111;
                    font-weight: 700;
                  }

                  .arrow__forward__icon {
                    color: #111;
                    font-size: 12px;
                  }
                }
              }

              h3 {
                text-transform: uppercase;
                color: #111;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  h3,
  p {
    font-family: 'Nunito', sans-serif;
    letter-spacing: -1px;
  }
}

// media queries
@media (max-width: 620px) {
  .fuelprices {
    width: 100% !important;

    .fuelprices__container {
      .fuelprices__heading {
        padding: 0 16px !important;
      }

      .fuelprices__intro__text {
        padding: 0 16px !important;

        p {
          font-size: 15px !important;
        }
      }

      .fuelprices__bodytext__container {
        padding: 0 16px !important;

        .fuelprices__bodytext__content {
          p {
            font-size: 15px !important;
          }
        }
      }
    }

    .tableau__dashboard__container {
      min-width: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .gainaccess {
      padding: 16px !important;

      .gainaccess__button {
        width: 100% !important;
        text-align: center !important;

        p {
          font-size: 15px !important;
        }
      }
    }

    .other__dashboards {
      height: 900px !important;
      padding: 0 16px !important;
      width: 100% !important;

      .other__dashboards__container {
        .other__dashboards__subheading {
          h3 {
            width: 350px !important;
          }
        }

        .other__dashboards__dashboard {
          width: 100% !important;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

@media (min-width: 625px) and (max-width: 980px) {
  .fuelprices {
    .fuelprices__heading,
    .fuelprices__intro__text,
    .fuelprices__bodytext {
      padding: 0 16px !important;
    }

    .tableau__dashboard {
      display: flex;
      justify-content: center !important;
    }

    .gainaccess {
      padding: 16px !important;
      width: 100% !important;

      .gainaccess__content {
        width: inherit !important;
      }
    }

    .other__dashboards {
      padding: 32px 16px !important;
      height: fit-content !important;

      .other__dashboards__container {
        width: 100% !important;
        
        .other__dashboards__dashboard {
          display: flex;
          flex-wrap: wrap !important;
          justify-content: center;
          align-items: flex-start;
        }
      }
    }
  }
}

@media (min-width: 982px) and (max-width: 1110px) {
  .other__dashboards {
    padding: 32px 16px !important;
  }
}

@media (min-width: 280px) and (max-width: 380px) {
  .gainaccess {
    padding: 16px !important;

    .gainaccess__container {
      .gainaccess__text {
        text-align: center !important;
      }
    }
  }
}
