.mobile__navbar {
  height: 72px;
  width: 100%;
  background: #fff;
  padding: 16px;
  color: #111;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  z-index: 9999;
  position: sticky;
  top: 0;

  .mobile__navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mobile__navbar__logo {
      width: 150px;
      height: auto;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .mobile__navbar__icon {
      display: flex;
      gap: 8px;

      .mobile__menu__icon,
      .mobile__search__icon {
        color: #2b2c54;
        font-size: 32px;
      }
    }
  }

  .mobile__navbar__elements {
    padding: 8px;
    height: 100% !important;
    z-index: 10000;
    border-radius: 4px;
    position: fixed;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    overflow-y: scroll !important;

    .navbar__element__logo__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;

      .navbar__element__logo {
        width: 150px;
        height: auto;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .close__icon {
        color: #2b2c54;
      }
    }

    .search__element {
      background: #f1f3f4;
      border-radius: 4px;
      padding: 0 8px;
      display: flex;
      align-items: center;
      gap: 8px;

      .element__icon {
        font-size: 28px;
        color: #808080;
      }

      input {
        border: none;
        outline: none;
        background: #f1f3f4;
        color: #111;
        padding: 24px 0px;
        width: 100%;
        font-size: 18px;

        &::placeholder {
          letter-spacing: -1px;
          font-family: 'Nunito', sans-serif;
          font-size: 14px;
          font-weight: 500;
          color: #808080;
        }
      }
    }

    .mobile__signin__button {
      border: 2px solid #2b2c54;
      background: transparent;
      padding: 14px 24px;
      border-radius: 4px;
      cursor: pointer;

      p {
        text-align: center;
        color: #2b2c54;
        font-weight: 700;
      }
    }

    .mobile__getstarted__button {
      border: 2px solid #2b2c54;
      background: #2b2c54;
      padding: 14px 24px;
      border-radius: 4px;
      cursor: pointer;

      p {
        text-align: center;
        color: #fff;
        font-weight: 700;
      }
    }

    .menu__element__container {
      display: flex;
      flex-direction: column;
      gap: 32px;
      margin: 32px 0;
      padding: 16px 0;
      
      .menu__element__item {
        display: flex;
        flex-direction: column;
        padding-bottom: 12px;
        border-bottom: 1px solid rgba($color: #111, $alpha: 0.2);

        ul {
          list-style: none;
          letter-spacing: -1px;
          font-family: 'Nunito', sans-serif;

          li {
            cursor: pointer;
            color: #808080;
            padding: 8px 0;
          }
        }

        p {
          font-size: 20px;
          font-weight: 600;
          cursor: pointer;
          color: #111;
        }
      }
    }
  }

  p {
    font-family: 'Nunito', sans-serif;
    letter-spacing: -1px;
  }

  a {
    text-decoration: none;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  .menu__elements {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    height: 70% !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 32px !important;

    .menu__element__container {
      display: flex !important;
      flex-direction: row !important;
      width: inherit !important;
      flex-wrap: wrap !important;
      justify-content: space-between;

      .menu__element__item {
        border-bottom: none !important;
      }
    }
  }
  .mobile__signin__button,
  .mobile__getstarted__button {
    width: 300px !important;
    margin: 0 auto !important;
    padding: 20px 36px !important;
    position: absolute;
  }

  .mobile__signin__button {
    bottom: 15% !important;
    left: 8% !important;
  }

  .mobile__getstarted__button {
    bottom: 15% !important;
    right: 8% !important;
  }
}

@media (min-width: 768px) and (max-height: 480px) {
  .menu__elements {
    height: 55% !important;

    .menu__element__container {
      .menu__element__item {
        p {
          font-size: 18px !important;
        }

        li {
          font-size: 14px !important;
        }
      }
    }
  }
  .mobile__signin__button,
  .mobile__getstarted__button {
    margin: 0 auto !important;
    padding: 12px 48px !important;
    position: absolute;
    width: auto !important;
  }

  .mobile__signin__button {
    bottom: 4% !important;
    left: 8% !important;
  }

  .mobile__getstarted__button {
    bottom: 4% !important;
    right: 8% !important;
  }
}
