.errorcomponent {
  .errorcomponent__container {
    max-width: 1100px;
    margin: 0 auto;

    .errorcomponent__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .errorcomponent__img {
        max-width: 650px;
        height: auto;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .errorcomponent__heading {
        h3 {
          font-size: 16px;
          line-height: 1.7;
          color: #111;
        }
      }

      .errorcomponent__paragraph {
        padding: 8px 0;

        p {
          font-size: 14px;
          color: rgba($color: #111, $alpha: 0.6);
          line-height: 1.8;
        }
      }
    }
  }

  h3,
  p {
    font-family: 'Nunito', sans-serif;
    letter-spacing: -1px;
  }
}

@media (max-width: 620px) {
  .errorcomponent {
    padding: 16px !important;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
    P {
      text-align: center;
    }
  }

}
