.carousel {
  padding: 48px 0;

  .carousel__container {
    .carousel__items__container {
      display: flex;

      .carousel__items {
        margin: 0 8px;
        background: #fff;
        height: 280px;
        padding: 14px 28px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 4px;

        .carousel__user__info {
            display: flex;
            gap: 16px;
            align-items: center;

            .carousel__user {
                font-size: 15px;
                font-weight: 500;
            }
        }

        .carousel__review {
            display: flex;
            flex-direction: column;
            height: 70%;
            padding: 0 16px;
            justify-content: center;
            align-items: center;

            p {
                font-size: 15px;
                font-weight: 700;
            }
        }

        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
