.additional__signup__information {
  padding: 16px 0;

  .additional__signup__container {
    max-width: 1100px;
    margin: 0 auto;

    .additional__signup__description {
      width: 400px;

      h3 {
        font-size: 18px;
        line-height: 1.7;
      }
    }

    .form__container {
      padding: 32px 0;

      form {
        label {
          font-size: 15px;
        }

        .name__container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .firstname__container,
          .lastname__container {
            width: 40%;

            input {
              width: 100%;
              padding: 16px;
              margin: 8px 0;
              border: 1px solid #808080;
              border-radius: 4px;
              outline: none;

              &::placeholder {
                font-family: 'Nunito', sans-serif;
                letter-spacing: -1px;
                font-size: 13px;
              }
            }
          }
        }

        .gender__experience__container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .gender__container,
          .experience__container {
            width: 40%;

            select {
              width: 100%;
              padding: 16px;
              margin: 16px 0;
              border: 1px solid #808080;
              border-radius: 4px;
              appearance: none;
              outline: none;
              color: #808080;
            }
          }
        }
      }
    }
  }

  h3,
  p,
  form {
    //   text-align: center;
    color: #111;
    font-family: 'Nunito', sans-serif;
    letter-spacing: -1px;
  }
}
