iframe {
  width: 520px;
}

@media (max-width: 625px) {
  .frame__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .frame__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;

    iframe {
      display: block;
      margin: 0 auto;
    }
  }
}
