@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Nunito', sans-serif;
  letter-spacing: -1px;
}

.spinner::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: #2b2c54;
  border-radius: 50%;
  animation: spin ease 1000ms infinite;
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}